# Virtual environments
.venv/
.venv-1/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db
